<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../app/index.js"></script>
    <script src="../app/downloadQueue.js"></script>
    <script src="../app/mp3download.js"></script>
    <script src="../app/mp4download.js"></script>
    <script src="../app/server.js"></script>
    <script src="../app/timeinput.js"></script>
    <script src="../app/templateDiv.js"></script>
    <script src="../app/id.js"></script>
    <script src="../app/nonyoutubedownload.js"></script>
    <script src="../app/searchItemTemplate.js"></script>

    <title>Web-dl: A web video downloader</title>
</head>

<body>
  <progress class="prg" id="prog" max="100"></progress>
  <label id="vel">0MB/s</label>
  <label id="prg">0%</label>
  <div id="curvid-div">
    <label id="curvid">Waiting for download</label>
  </div>
  <img id="vidprev" src="../assets/defthumb.png">
  <div id="playlistSelect"></div>
  <div id="queue-buttons-div">
    <button onclick="downloadQueue()" id="dow-vid" class="queue-buttons">Download videos</button>
    <button onclick="clearQueue()" id="clear-queue" class="queue-buttons">Clear queue</button>
  </div>
  <div id="queue-check-div">
    <button class="queue-buttons" id="url-btn" onclick="addVid()">Input url</button>
    <button id="search-btn" class="queue-buttons" onclick="document.getElementById('search').classList.toggle('show')">Search youtube</button>
    <span id="check-spn">
      <input type="checkbox" id="queue-check" checked="true" onchange="selectAll()"></input>
      <label for="queue-check" id="queue-check-label">Select all</label>
    </span>
  </div>
  <div id="rules" class="rules">
    <div class="set-div">
        <a for="folderSelect">Select folder:</a>
        <button onclick="document.getElementById('file').click()" id="folderSelect" class="set-btn">Browse</button>
        <input type="file" nwdirectory id="file" class="fileinput" onchange="selectFolder()"/>
    </div>
    <div class="set-div">
        <a for="sel">Filetype:</a>
        <select id="sel" class="set-btn">
            <option value="mp3">
                MP3
            </option>
            <option value="mp4" selected="selected">
                MP4
            </option>
        </select>
    </div>
    <div class="set-div">
        <a for="port">Change port:</a>
        <button id="port" onclick="selectPort()" class="set-btn">Change</button>
    </div>
  </div>
  <div id="search">
    <div class="search-text-div">
      <input type="text" class="search-text" id="search_input">
      <button class="queue-buttons" id="search-button" onclick="search()">Search</button>
    </div>
    <div class="search-inner">
      <div class="vid-div">
        <iframe width="338" height="190" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
      <div class="preview-div" id="search-items">
      </div> 
    </div>
    <div class="search-btns-div">
      <button class="search-btns" onclick="document.getElementById('search').classList.toggle('show')">Leave</button>
      <button class="search-btns" onclick="addSearchToQueue(this)" id="addQueue">Add to queue</button>
      <button class="search-btns" onclick="nextPage()">Next page</button>
    </div>
  </div>
</html>