<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Youtube Downloader</title>
</head>
<body>
    <script src="../app/index.js"></script>
    <div id="div1">
        <span class="progspan">
            <progress value="0" max="100" id="progress1"></progress>
            <label class="text" id="progress2">0%</label>
        </span>
    </div>
    <div>
        <label class="text" id="speed">0 MB/s</label>
    </div>
    <div id="statusdiv">
        <label class="text2" id="text2">Awaiting download</label>
    </div>
    <div id="buttondiv">
        <button onclick="mp4()" id="mp4" disabled=true>MP4</button>
        <button onclick="mp3()" id="mp3">MP3</button>
        <span>
            <button onclick="document.getElementById('file').click()">Browse</button>
            <input type="file" nwdirectory class="fileinput" id="file" onchange="selectFolder()"/>
        </span>
        <span>
            <input type="checkbox" id="check"/>
            <a class="text">Chose file name</a>
        </span>
    </div>
    <div style="padding-top: 10px;">
        <label class="text2" id="filepath">C:\Users\35196\Videos\Youtube</label>
    </div>
</body>
</html>