.label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    border: 0px;
    width: 300px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}