.prg {
  position: absolute;
  top: 30px;
  left: 30px;
}

progress {
  appearance: none;
  border-radius: 10px;
  width: 690px;
}

progress::-webkit-progress-bar {
  background-color: #35393b;
  width: 100%;
  border-radius: 10px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

progress::-webkit-progress-value {
  background-color: #0078d7;
  border-radius: 10px;
}

body {
  background-color: #181a1b;
  overflow: hidden;
  padding: 8px;
  margin: 0px;
}

#vel {
  position: absolute;
  left: 30px;
  top: 50px;
}

#prg {
  position: absolute;
  right: 30px;
  top: 50px;
}

#curvid {
  line-height: 20px;
}

#curvid-div {
  position: absolute;
  display: flex;
  left: 30px;
  right: 378px;
  top: 300px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-start;
  justify-content: space-between;
}

#search-btn {
  flex: 2;
}

label {
  font-family: Roboto;
  font-size: 16px;
  color: #e8e6e3;
}

label:focus {
  outline: none;
}

.rules {
  position: fixed;
  top: 0;
  left: -235px;
  z-index: 2;
  background: #333;
  color: #fff;
  width: 250px;
  height: 100%;
  transition: 1s;
  overflow: hidden;
  white-space: nowrap;
}

.rules:hover {
  left: 0px;
}

.rules a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  color: #e8e6e3;
  transition: 0.3s;
}

.rules a:hover {
  color: #f1f1f1;
}
.fileinput {
  display: none;
}

.set-btn {
  position: relative;
  float: right;
  height: 20px;
}

.set-div {
  padding: 10px;
  padding-right: 15px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
}

#vidprev {
  position: absolute;
  left: 30px;
  top: 100px;
  border-radius: 5px;
  border: 3px solid #222;
  width: 336px;
  height: 188px;
  outline: none;
}

#playlistSelect {
  position: fixed;
  border-radius: 5px;
  border: 3px solid #222;
  left: 400px;
  top: 100px;
  width: 308px;
  height: 188px;
  overflow-y: scroll;
}

#playlistSelect::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #181a1b;
}

#playlistSelect::-webkit-scrollbar {
  background-color: #181a1b;
  width: 8px;
  margin: 0 auto;
}

#playlistSelect::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.playItem {
  display: flex;
  border-radius: 2px;
  width: 298px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid #222;
  border-top: 0;
  overflow: hidden;
  white-space: nowrap;
  background-color: #181a1b;
}

.playItem:hover {
  background-color: #333;
}

.preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.image {
  width: 72px;
  height: 40px;
  border-radius: 2px;
}

.video-name-container {
  line-height: 20px;
  font-family: Roboto;
  font-size: 16px;
  color: #e8e6e3;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-name-container:focus {
  text-overflow: initial;
}

.playItem.show {
  background-color: #222;
}

.playItem.show:hover {
  background-color: #333;
}

.playItem.error {
  background-color: rgb(143, 11, 0);
}

.playItem.error:hover {
  background-color: rgb(194, 15, 0);
}

#clear-queue {
  float: right;
  width: 38%;
}

#dow-vid {
  float: left;
  width: 58%;
}

#queue-buttons-div {
  position: absolute;
  left: 400px;
  top: 300px;
  right: 36px;
}

#queue-check-div {
  display: flex;
  position: absolute;
  left: 400px;
  bottom: 255px;
  right: 36px;
  z-index: -1;
  align-items: center;
  justify-content: space-between;
}

.queue-buttons {
  appearance: button;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #222;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Roboto;
  padding: 1px 6px;
  border-radius: 2px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  margin: 2px;
}

.queue-buttons:hover {
  background-color: #333;
}

#queue-check {
  float: right;
}

#queue-check-label {
  float: right;
}

.video-options {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
  width: 24px;
  visibility: hidden;
}

.video-options-placeholder {
  height: 50px;
  width: 24px;
}

.playItem:hover .video-options {
  visibility: visible;
}

.playItem:active {
  background-color: #444;
}

.playItem.show:active {
  background-color: #444;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  z-index: 2;
  right: 0;
  top: 35px;
  border-radius: 10px;
  border: rgb(43, 43, 43) solid 2px;
  overflow: visible;
  visibility: hidden;
}

/* Links inside the dropdown */
.dropdown-content label {
  padding: 5px 10px;
  text-align: center;
  display: block;
}

.dropdown-content label:hover {
  background-color: rgb(43, 43, 43);
}

/* Show the dropdown menu on hover */
.video-options:hover .dropdown-content {
  visibility: visible;
}

.qual-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  line-height: 26px;
}

.qual-span label:hover {
  background-color: #222;
}

.qual-sel {
  padding: 5px 10px;
  height: 26px;
}

.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 0.05em 0;
  padding: 0;
}

.outer {
  background-color: #222;
  border: 2px solid #333;
  border-radius: 7px;
  position: fixed;
  left: 80px;
  right: 80px;
  top: 50px;
  bottom: 50px;
  display: none;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  white-space: nowrap;
  z-index: 1;
}

.outer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #181a1b;
}

.outer::-webkit-scrollbar {
  background-color: #181a1b;
  width: 8px;
  margin: 0 auto;
}

.outer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.outer.show {
  display: flex;
  visibility: visible;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test1 {
  background-color: #333;
  border: solid #181a1b 2px;
  border-radius: 2px;
  width: 50px;
  color: #e8e6e3;
}

.test1:focus {
  outline: none;
}

.test1::-webkit-outer-spin-button,
.test1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.test2 {
  padding: 2px !important;
  width: auto;
}

.test3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px 5px 20px;
}

.trim-btn-span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.trim-btn {
  appearance: button;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #222;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Roboto;
  padding: 1px 6px;
  border-radius: 2px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  margin: 2px;
  flex: 1;
}

#url-btn {
  flex: 1;
}

#check-spn {
  flex: 2;
}

#search {
  background-color: #181a1b;
  border: 2px solid #222;
  border-radius: 7px;
  position: fixed;
  left: 50px;
  right: 50px;
  top: 35px;
  bottom: 35px;
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  white-space: nowrap;
  flex-direction: column;
  z-index: 1;
}

#search.show {
  display: flex;
  visibility: visible;
}

.vid-div {
  display: flex;
  background-color: #181a1b;
  border: 2px solid #222;
  border-radius: 7px;
  overflow: hidden;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.preview-div {
  background-color: #181a1b;
  border: 2px solid #222;
  border-radius: 7px;
  height: 190px;
  width: 277px;
  margin: 5px 5px 5px 0px;
  overflow-y: scroll;
}

.preview-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #181a1b;
}

.preview-div::-webkit-scrollbar {
  background-color: #181a1b;
  width: 8px;
  margin: 0 auto;
  border-radius: 7px;
}

.preview-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.search-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
}

.search-text-div {
  padding: 5px;
  display: flex;
  width: 640px;
  justify-content: center;
}

.search-text {
  background-color: #181a1b;
  border: solid #222 2px;
  border-radius: 5px;
  color: #e8e6e3;
  flex-grow: 1;
}

.search-text:focus {
  outline: none;
}

.search-button {
  flex: 1;
}

.search-item {
  width: 98%;
  height: 60px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-item:hover {
  background-color: #333;
}

.search-img {
  width: 90px;
  height: 50px;
  padding: 5px;
  border-radius: 8px;
}

.search-label {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  font-family: Roboto;
  font-size: 16px;
  color: #e8e6e3;
}

.search-btns-div {
  display: flex;
  width: 100%;
  height: 26px;
  justify-content: center;
}

.search-btns {
  flex-grow: 1;
  appearance: button;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #222;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Roboto;
  padding: 1px 6px;
  border-radius: 2px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  margin: 2px;
}
