.prg {
  position: absolute;
  top: 30px;
  left: 30px;
}

progress {
  appearance: none;
  border-radius: 10px;
  width: 640px;
}

progress::-webkit-progress-bar {
  background-color: #35393b;
  width: 100%;
  border-radius: 10px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

progress::-webkit-progress-value {
  background-color: #0078d7;
  border-radius: 10px;
}

body {
  background-color: #181a1b;
  overflow: hidden;
  padding: 8px;
  margin: 0px;
}

#vel {
  position: absolute;
  left: 30px;
  top: 50px;
}

#prg {
  position: absolute;
  right: 30px;
  top: 50px;
}

#curvid {
  position: absolute;
  left: 30px;
  top: 300px;
}

label {
  font-family: Roboto;
  font-size: 16px;
  color: #e8e6e3;
}

.rules {
  position: fixed;
  top: 0;
  left: -235px;
  z-index: 1;
  background: #333;
  color: #fff;
  width: 250px;
  height: 100%;
  transition: 1s;
  overflow: hidden;
  white-space: nowrap;
}

.rules:hover {
  left: 0px;
}

.rules a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  color: #e8e6e3;
  transition: 0.3s;
}

.rules a:hover {
  color: #f1f1f1;
}
.fileinput {
  display: none;
}

.set-btn {
  position: relative;
  float: right;
  height: 20px;
}

.set-div {
  padding: 10px;
  padding-right: 15px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
}

#vidprev {
  position: absolute;
  left: 30px;
  top: 100px;
  border-radius: 5px;
  border: 3px solid #222;
  width: 336px;
  height: 188px;
  outline: none;
}

#playlistSelect {
  position: fixed;
  border-radius: 5px;
  border: 3px solid #222;
  left: 400px;
  top: 100px;
  width: 258px;
  height: 188px;
  overflow-y: scroll;
}

#playlistSelect::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #181a1b;
}

#playlistSelect::-webkit-scrollbar {
  background-color: #181a1b;
  width: 8px;
  margin: 0 auto;
}

#playlistSelect::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.playItem {
  display: flex;
  border-radius: 2px;
  width: 248px;
  height: 50px;
  border: 1px solid #222;
  border-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playItem:hover {
  background-color: #333;
}

.image {
  position: relative;
  margin: 5px;
  width: 72px;
  height: 40px;
  border-radius: 2px;
}

.video-name {
  position: relative;
  line-height: 50px;
}

.video-name-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #e8e6e3;
}

.playItem.show {
  background-color: #222;
}

.playItem.show:hover {
  background-color: #333;
}

.playItem.error {
  background-color: rgb(143, 11, 0);
}

.playItem.error:hover {
  background-color: rgb(194, 15, 0);
}

#clear-queue {
  float: right;
  width: 38%;
}

#dow-vid {
  float: left;
  width: 58%;
}

#queue-buttons-div {
  position: absolute;
  left: 400px;
  top: 300px;
  right: 36px;
}

#queue-check-div {
  position: absolute;
  left: 400px;
  bottom: 250px;
  right: 36px;
}

.queue-buttons {
  appearance: button;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #222;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Roboto;
  padding: 1px 6px;
  border-radius: 2px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  margin: 2px;
}

.queue-buttons:hover {
  background-color: #333;
}

#queue-check {
  float: right;
}

#queue-check-label {
  float: right;
}
